@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: url("../../public/bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bg-dialog {
  background: url("../../public/bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  overflow-wrap: break-word;
}
@media screen and (max-width: 768px) {
  body {
    background-attachment: scroll;
    background-size: cover;
  }
}
