@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #4f46e5;
  background: url("../../public/bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bg-dialog {
  background: url("../../public/bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  overflow-wrap: break-word;
}
@media screen and (max-width: 768px) {
  body {
    background: url("../../public/bg-mobile.svg");

    background-attachment: scroll;
    background-size: cover;
  }
}
.LazyLoad {
  opacity: 0;
  scale: 0;
  transition: all 0.4s ease-in-out;
}

.is-visible {
  scale: 1;
  opacity: 1;
}
